.articles {
  &__link {
    display: flex;
    overflow: hidden;
    max-height: 340px;

    @media only screen and (max-width: 1599px) {
      max-height: 305px;
    }

    @media only screen and (max-width: 1439px) {
      max-height: 285px;
    }

    @media only screen and (max-width: 1365px) {
      max-height: 250px;
    }

    @include media-breakpoint-down(lg) {
      max-height: 205px;
    }

    @include media-breakpoint-down(md) {
      max-height: 185px;
    }

    @include media-breakpoint-down(sm) {
      max-height: 285px;
    }
  }

  img {
    object-fit: cover
  }
}