@import "../typography";
@import "../variables";
@import "../icons";
@import "../animations";

.audit {
  .quiz {
    &.main {
      padding-top: 0;
    }

    &__content {
      padding-top: 80px;
      padding-bottom: 75px;
      text-align: center;
      align-content: flex-start;

      @include media-breakpoint-down(xs) {
        padding-top: 60px;
      }
    }

    &__header {
      display: flex;
      flex: 0 0 100%;
      width: 100%;
      flex-wrap: wrap;

      height: 80px;
      overflow: hidden;

      align-items: center;
      align-content: center;

      position: fixed;
      top: 0;
      z-index: 1500;

      background-color: $cl-white;
      transition: all 0.3s ease-in-out;

      padding-top: 28px;
      padding-bottom: 28px;

      @include media-breakpoint-down(md) {
        background-color: transparent;
      }

      @include media-breakpoint-down(xs) {
        height: 60px;
      }

      &.hide {
        top: -100px;
        transition: all 0.3s ease-in-out;
      }

      .quiznav {
        &__wrap {
          display: flex;
          flex: 0 0 100%;
          width: 100%;
          flex-wrap: wrap;

          justify-content: space-between;
          justify-items: space-between;
          align-items: center;
          align-content: center;

          font-size: 18px;
          line-height: 24px;
          color: $cl-blue;
          position: relative;

          @include media-breakpoint-down(xs) {
            font-size: 16px;
          }

          div {
            display: flex;
          }
        }

        &__left {
          &:hover {
            cursor: pointer;
          }

          .icon-arrow {
            width: 24px;
            height: 24px;

            @include media-breakpoint-down(xs) {
              width: 20px;
              height: 20px;
            }
          }

          span {
            padding-left: 10px;
            font-size: 16px;

            @include media-breakpoint-down(md) {
              display: none;
            }
          }
        }

        &__right {
          &:hover {
            cursor: pointer;
          }
        }

        &__counter {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      .counter {
        span {
          display: inline-block;
        }
        &__current {
          color: $cl-black;
          padding-right: 10px;
        }

        &__max {
          opacity: 0.4;
          padding-left: 10px;
        }
      }

      .quizbody {
        &__wrap {
          min-height: 350px;
        }
      }
    }

    &__resultsfooter {
      background-color: $cl-grey2;
      .resultsfooter__wrap {
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;

        @include media-breakpoint-down(md) {
          padding-top: 30px;
          padding-bottom: 30px;
        }
      }
    }

    &.onScroll {
      #quizheadingTitle {
        height: 100%;
        transition: 0.3s all ease-in-out;

        @include media-breakpoint-down(md) {
          opacity: 0;
          height: 80px;
          overflow: hidden;
          transition: 0.3s all ease-in-out;
        }
      }
    }
  }

  .quizheading {
    position: relative;
    padding-top: 25px;

    @include media-breakpoint-down(lg) {
      padding-top: 10px;
    }

    &__title {
      font-size: 2rem;
      line-height: 2.625rem;
      padding-bottom: 30px;

      @media only screen and (max-width: 1365px) {
        @media only screen and (min-resolution: 120dpi) and (min-resolution: 1.5dppx) and (pointer: fine) {
          padding-bottom: 0;
        }
      }

      @include media-breakpoint-down(md) {
        font-size: 2rem;
        line-height: 2.625rem;
      }

      @include media-breakpoint-down(sm) {
        font-size: 1.5rem;
        line-height: 2rem;
        padding-bottom: 20px;
      }
    }

    &__copy {
      font-size: 20px;
      line-height: 28px;
      // font-weight: $font-light;
      // font-style: italic;
      padding-bottom: 30px;
    }

    &__link {
      color: $cl-blue;
      font-size: 20px;
      line-height: 28px;
      padding-bottom: 30px;
    }
  }

  .quizmain {
    display: flex;
    flex: 0 0 100%;
    width: 100%;
    flex-wrap: wrap;

    padding-top: 30px;

    justify-content: center;
    justify-items: center;

    align-items: center;
    align-content: center;

    @include media-breakpoint-down(lg) {
      padding-top: 10px;
    }

    @include media-breakpoint-down(xs) {
      padding-top: 5px;
    }

    &__privacy {
      display: flex;
      align-items: center;

      font-size: 18px;
      line-height: 28px;

      &:hover {
        cursor: pointer;
      }
    }

    .age {
      &__text {
        font-size: 18px;
        line-height: 28px;
        padding-top: 15px;
      }

      &__error {
        font-size: 16px;
        line-height: 24px;
        color: $cl-porange2;
        padding-top: 20px;

        max-width: 475px;
        transition: 0.3s all ease-in-out;

        opacity: 0;
        visibility: hidden;
        height: 0px;
        overflow: hidden;

        position: relative;

        &.show {
          opacity: 1;
          visibility: visible;
          height: auto;
          transition: 0.3s all ease-in-out;
        }

        .error {
          &__blank,
          &__under,
          &__congrats,
          &__over {
            opacity: 0;
            visibility: hidden;
            position: absolute;

            &.show {
              animation-name: bounce;
              animation-timing-function: ease;
              animation-duration: 0.5s;
              animation-iteration-count: 1;
              opacity: 1;
              visibility: visible;
              position: relative;
            }
          }
        }
      }

      &__link {
        color: $cl-porange2;
        display: inline-block;
      }
    }

    .location {
      display: flex;
      flex: 0 0 100%;
      width: 100%;
      flex-wrap: wrap;

      padding-top: 30px;

      justify-content: center;
      justify-items: center;

      align-items: flex-start;
      align-content: flex-start;

      &__search {
        display: flex;
        flex: 0 0 66.66667%;
        width: 66.66667%;
        flex-wrap: wrap;

        @include media-breakpoint-down(md) {
          flex: 0 0 100%;
          width: 100%;
        }

        .icon-search {
          z-index: 5;
          right: 23px;
        }
      }

      &__list {
        display: flex;
        flex: 0 0 100%;
        width: 100%;
        flex-wrap: wrap;

        justify-content: center;
        justify-items: center;

        padding-top: 20px;
      }

      &__text,
      &__error {
        font-size: 16px;
        line-height: 24px;
        width: 100%;
      }

      &__text {
        padding-bottom: 15px;
      }

      &__error {
        padding-top: 10px;
        color: $cl-porange2;
        text-align: left;
      }
    }
  }

  .quizbutton {
    &__wrap {
      padding-top: 50px;
      transition: 0.3s all ease-in-out;

      @include media-breakpoint-down(sm) {
        padding-top: 30px;
      }

      @include media-breakpoint-down(xs) {
        padding-top: 15px;
      }

      &.answerSelected {
        @include media-breakpoint-down(xs) {
          position: fixed;
          display: block;
          bottom: 0;
          left: 0;
          padding: 20px 15px;
          background-color: $cl-white;
          width: 100%;
          z-index: 10;

          transition: 0.3s all ease-in-out;
        }
      }

      .btn {
        @include media-breakpoint-down(xs) {
          width: 100%;
        }
      }
    }
  }

  #tracker {
    width: 100%;
    position: relative;
    background-color: $cl-white;

    &.onScroll {
      transition: 0.3s all ease-in-out;
      @include media-breakpoint-down(md) {
        position: fixed;
        left: 0;
        top: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        transition: 0.3s all ease-in-out;
        z-index: 50;

        .quizheading {
          padding-top: 0;
        }
      }
    }
  }

  .tracker {
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    width: 100%;
    display: block;

    background-color: $cl-blue-opaque-2;
    overflow: hidden;

    &__status {
      display: block;
      background-color: $cl-blue;
      height: 100%;
      width: 50%;
      transition: 0.3s all ease-in-out;
    }

    &__title {
      display: none;
      font-size: 20px;
      line-height: 28px;
      font-weight: $font-extrabold;

      &.show {
        @include media-breakpoint-down(md) {
          padding-top: 20px;
          display: block;
        }
      }
    }
  }

  .modal {
    z-index: 1700;

    &-header,
    &-footer {
      border: none;
    }

    &-header {
      button {
        padding: 10px;

        &:focus {
          outline: 0;
        }
      }

      .close {
        opacity: 1;
      }
    }

    &-body {
      text-align: center;
      padding: 1rem 4rem;

      p {
        font-size: 18px;
        line-height: 28px;

        @include media-breakpoint-down(md) {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }

    &-footer {
      padding-bottom: 50px;
      flex-direction: column;

      .btn-nostyle {
        color: $cl-blue;
      }
    }

    &__title {
      font-size: 34px;
      line-height: 44px;
      padding-bottom: 30px;

      @include media-breakpoint-down(md) {
        font-size: 24px;
        line-height: 32px;
      }
    }
  }

  .results {
    &__lowrisk {
      background-color: $cl-grey;
      margin-top: 50px;

      .collection__title {
        @include media-breakpoint-up(lg) {
          margin-left: -15px;
          padding-right: 15px;
        }
      }
    }

    &__reco {
      display: flex;
      width: 100%;
      flex: 0 0 100%;
      flex-wrap: wrap;

      padding-top: 50px;

      &.lowrisk {
        padding-top: 0;
      }
    }

    .heading {
      text-align: center;
      padding-top: 50px;
      display: flex;
      flex-wrap: wrap;

      @include media-breakpoint-down(md) {
        padding-top: 0;
      }

      &__pretext,
      &__title,
      &__score,
      &__subtext,
      &__copy {
        display: flex;
        width: 100%;
        flex: 0 0 100%;
        flex-wrap: wrap;
      }

      &__score {
        font-size: 20px;
        line-height: 28px;
        font-weight: $font-extrabold;
        padding-bottom: 20px;
        justify-content: center;

        @include media-breakpoint-down(md) {
          font-size: 16px;
          line-height: 22px;
        }
      }

      &__pretext {
        font-size: 18px;
        line-height: 28px;
        font-weight: $font-light;
        padding-bottom: 20px;
        justify-content: center;

        @include media-breakpoint-down(md) {
          font-size: 13px;
          line-height: 20px;
        }
      }

      &__title {
        font-size: 60px;
        line-height: 68px;
        justify-content: center;

        @include media-breakpoint-down(md) {
          font-size: 34px;
          line-height: 44px;
        }
      }

      &__subtext {
        font-size: 20px;
        line-height: 28px;
        font-weight: $font-light;
        font-style: italic;
        padding-bottom: 20px;
        text-align: center;
        justify-content: center;

        @include media-breakpoint-down(md) {
          font-size: 16px;
          line-height: 24px;
        }
      }

      &__copy {
        font-size: 16px;
        line-height: 24px;

        p {
          margin-bottom: 20px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      &__imagewrap {
        display: flex;
        width: 100%;
        flex: 0 0 100%;
        flex-wrap: wrap;
        padding-top: 65px;
        justify-content: center;
        justify-items: center;
        overflow: hidden;

        position: relative;
        margin-bottom: 26px;

        @include media-breakpoint-down(md) {
          padding-top: 30px;
        }

        .riskslide {
          display: flex;
          width: 66.66667%;
          flex: 0 0 66.66667%;
          flex-wrap: wrap;
          background: linear-gradient(
            -90.07deg,
            rgba(239, 110, 82, 0.7) 0.41%,
            #fdebe7 68.88%
          );
          position: relative;
          height: 100px;

          @include media-breakpoint-down(xs) {
            width: 100%;
            flex: 0 0 100%;
          }
        }

        .icon-triangle {
          width: 17px;
          height: 12px;
          z-index: 5;
          position: absolute;
          top: 0;
          border-radius: 0;

          background-size: contain;
        }

        .triangle {
          z-index: 2;
          position: absolute;
          background-color: #fff;
          width: 100%;
          height: 100%;
          right: 0;
          top: 0;
          transform: skewX(98deg);
          transform-origin: top right;

          @include media-breakpoint-down(md) {
            transform: skewX(102deg);
          }

          @include media-breakpoint-down(xs) {
            transform: skewX(98deg);
          }
        }

        .audit-line {
          border: 1px dashed #000000;
          position: absolute;
          height: 200px;
          left: 20%;
          z-index: 10;
          top: 0;
          display: none;
        }
        .score {
          width: 12px;
          background-color: #ea6142;
          height: 200px;
          //left: 20%;
          position: absolute;
          top: 0;
          overflow: hidden;
          z-index: 1;
        }
        .image {
          display: flex;
          width: 66.66667%;
          flex: 0 0 66.66667%;
          flex-wrap: wrap;
          height: 85px;

          position: relative;

          background: linear-gradient(0.07deg, #ef6e52 0.41%, #fdebe7 68.88%);

          @include media-breakpoint-down(xs) {
            flex: 0 0 100%;
            width: 100%;
          }
        }
      }

      .headingcols {
        display: flex;
        flex: 0 0 100%;
        width: 100%;
        flex-wrap: wrap;

        padding-top: 30px;

        align-items: flex-start;
        align-content: flex-start;

        .col-sm-6,
        .row {
          height: 100%;

          @include media-breakpoint-down(xs) {
            height: auto;
          }
        }

        &__left {
          display: flex;

          img {
            width: 100%;
            height: auto;
            object-fit: contain;
          }
        }

        &__right {
          justify-content: flex-start;
          justify-items: flex-start;
          padding: 15px;
          background-color: $cl-grey2;

          display: flex;
          flex: 0 0 100%;
          width: 100%;
          flex-wrap: wrap;

          align-items: flex-start;
          align-content: flex-start;
          height: 100%;

          @include media-breakpoint-down(xs) {
            height: auto;
            padding: 20px;
          }
        }

        &__title {
          font-size: 24px;
          line-height: 32px;
          padding-bottom: 15px;
          text-align: left;
          width: 100%;
        }

        &__text {
          font-size: 16px;
          line-height: 24px;
          text-align: left;
          padding-bottom: 15px;
          width: 100%;
        }

        &__link {
          font-size: 16px;
          line-height: 22px;
          font-weight: $font-extrabold;
          color: $cl-blue;

          display: flex;
          text-align: left;
          flex: 0 0 100%;
          width: 100%;

          padding-right: 30px;

          position: relative;

          .icon-right {
            right: 0;
          }
        }
      }
    }

    .atrisk {
      padding-bottom: 50px;

      &__wrap {
        display: flex;
        width: 100%;
        flex: 0 0 100%;
        flex-wrap: wrap;

        padding: 30px 25px;
        background-color: $cl-grey2;
        position: relative;
      }

      .headline {
        font-size: 24px;
        line-height: 32px;
        padding-bottom: 15px;
      }

      .content {
        align-content: flex-start;
        align-items: flex-start;

        * {
          display: flex;
          width: 100%;
          flex: 0 0 100%;
          flex-wrap: wrap;
        }
      }

      .description,
      .link {
        font-size: 16px;
        line-height: 24px;
      }

      .description {
        padding-bottom: 15px;
      }

      .link {
        color: $cl-blue;
      }

      .icon-link {
        position: absolute;
        width: 24px;
        height: 24px;
        right: 15px;
        top: 15px;
      }

      .col-md-12 {
        &.resultcol {
          &:after {
            display: block;
            content: " ";
            width: 100%;
            height: 1px;
            background-color: #e4e4e4;

            position: absolute;
            bottom: 0;
            left: 0;
          }

          &:last-child {
            &:after {
              display: none;
            }
          }
        }
      }
    }

    .collection {
      &__heading {
        .btn {
          @include media-breakpoint-down(md) {
            display: none;
          }
        }
      }

      &__footer {
        display: none;

        @include media-breakpoint-down(md) {
          display: flex;
          flex: 0 0 100%;
          flex-wrap: wrap;
          justify-content: flex-end;
        }

        @include media-breakpoint-down(sm) {
          justify-content: flex-start;
        }
      }

      &__block {
        display: flex;
        width: 100%;
        flex: 0 0 100%;
        flex-wrap: wrap;

        padding-top: 40px;
        padding-bottom: 50px;
        border-bottom: none;

        img {
          width: 100%;
          height: auto;
          max-width: 100%;
        }

        a {
          color: $cl-black;
          text-decoration: none;

          &.btn {
            color: $cl-blue;
          }
        }
      }

      &__item {
        display: flex;
        flex: 0 0 100%;
        width: 100%;
        flex-wrap: wrap;
        vertical-align: flex-start;

        padding-bottom: 20px;
        padding-top: 20px;

        @include media-breakpoint-down(md) {
          border-bottom: 1px solid $cl-grey;
          padding-left: 15px;
          padding-right: 15px;
        }

        &.no-border {
          @include media-breakpoint-down(md) {
            border-bottom: none;
          }
        }
      }

      &__title {
        padding-bottom: 30px;
      }

      &__image {
        display: flex;
        width: 100%;
        flex: 0 0 100%;

        @include media-breakpoint-down(md) {
          width: 41.66667%;
          flex: 0 0 41.66667%;
        }
      }

      &__content {
        display: flex;
        width: 100%;
        flex: 0 0 100%;
        flex-wrap: wrap;

        @include media-breakpoint-down(md) {
          width: 58.33333%;
          flex: 0 0 58.33333%;

          padding-left: 20px;
          align-content: flex-start;
        }
      }

      &__category {
        padding-bottom: 20px;

        @include media-breakpoint-down(md) {
          padding-bottom: 15px;
        }
      }

      &__itemtitle {
        max-width: 75%;

        @include media-breakpoint-down(lg) {
          max-width: 100%;
        }
      }

      .container {
        &.tab-full {
          @include media-breakpoint-down(md) {
            padding-left: 15px;
            padding-right: 15px;
          }
        }
      }
    }
  }

  #rowAnimate {
    position: relative;
  }

  .startAnimate {
  }

  .animate {
    width: 100%;
    position: relative;

    &.hide {
      animation-name: slideInLeft;
      animation-timing-function: linear;
      animation-duration: 0.5s;
      animation-iteration-count: 1;

      &.out {
        animation-name: slideInRight;
      }
    }

    &.clone {
      position: absolute;
      top: 25px;

      animation-name: slideOutLeft;
      animation-timing-function: linear;
      animation-duration: 0.5s;
      animation-iteration-count: 1;

      @include media-breakpoint-down(md) {
        top: 10px;
      }

      &.out {
        animation-name: slideOutRight;
      }
    }
  }
}

/*** REGION SPECIFIC ***/
.ro-ro {
  .quiz {
    .radio {
      .radio__text {
        font-family: "Overlook Sans W05", "verdana", "helvetica", "arial",
          "sans-serif", "serif";
      }
    }
  }
}

.quizheading {
  position: relative;
}
