//THEME COLORS FOR DIAGEO QUIZ
//color code 3 used for mobile bg on triviafor quiz


//GREEN
$cl-dggreen: #67CEBF;
$cl-dggreen1: rgba(103, 203, 191, 0.6);
$cl-dggreen2: rgba(103, 203, 191, 0.2);
$cl-dggreen3: #EFF3EE;

//opacity .6

//PINK
$cl-dgpink: #E86BAD;
$cl-dgpink1: rgba(232, 107, 173, 0.6);
$cl-dgpink2: rgba(232, 107, 173, 0.2);
$cl-dgpink3: #FFE5E9;

//orange
$cl-dgorange: #F7BB72;
$cl-dgorange1: rgba(247, 187, 114, 0.6);
$cl-dgorange2: rgba(247, 187, 114, 0.2);
$cl-dgorange3: #FDEEDC;


$answer-correct: #E9FFFA;
$answer-correct-border: #53948A;
$answer-wrong: #FFEAEE;
$answer-wrong-border: #FC6383;
$answer-neutral: rgba(38, 20, 167, 0.08);
