// @import url('https://use.typekit.net/xcy0rqj.css');
@import url('https://fast.fonts.net/t/1.css?apiType=css&projectid=61900b1c-0c52-4a4d-a4f6-4cbeee93499b');
@font-face{
  font-family: 'Overlook Sans W05';
  font-weight: 250;
  font-style: normal;
  src: url('/static/fonts/5340b2da-acf9-4ca8-bcc8-f77772b35839.woff2') format('woff2');
  src: url('/static/fonts/4da7adfb-4f7a-4c23-ba3f-fd28b52da6ef.woff') format('woff');
  font-display: swap;
}

@font-face{
  font-family: 'Overlook Sans W05';
  font-weight: 250;
  font-style: italic;
  src: url('/static/fonts/02784bf7-4dfa-46d2-8923-48935a73e683.woff2') format('woff2');
  src: url('/static/fonts/0e7c75c6-4cb7-4804-9197-911ecb5431a8.woff') format('woff');
  font-display: swap;
}

@font-face{
  font-family:'Overlook Sans W05';
  font-weight: 300;
  font-style: normal;
  src: url('/static/fonts/71aaf15b-9351-4191-8f32-d9cfefa0f79f.woff2') format('woff2');
  src: url('/static/fonts/8c80360a-e954-4cbe-98e0-cc3e5ed8ed86.woff') format('woff');
  font-display: swap;
}

@font-face{
    font-family: 'Overlook Sans W05';
    font-weight: 300;
    font-style: italic;
    src: url('/static/fonts/bcea02ba-703e-46bb-bbf8-4bcc2851258c.woff2') format('woff2');
    src: url('/static/fonts/078ddebd-c91c-4c28-a811-d70baf7d5dea.woff') format('woff');
    font-display: swap;
}

@font-face{
  font-family: 'Overlook Sans W05';
  font-weight: 400;
  font-style: normal;
  src: url('/static/fonts/cb4a3f68-c743-4260-8893-b2be8edc9297.woff2') format('woff2');
  src: url('/static/fonts/e9c05cde-9e28-40ff-89ce-1b4b8903c075.woff') format('woff');
  font-display: swap;
}

@font-face{
  font-family:'Overlook Sans W05';
  font-weight: 400;
  font-style: italic;
  src: url('/static/fonts/8a6750a4-2f2f-4d58-a1cd-64a4f201a5ba.woff2') format('woff2');
  src: url('/static/fonts/58063f39-dea0-4e95-8f7d-c91e1f47c972.woff') format('woff');
  font-display: swap;
}
@font-face{
  font-family:'Overlook Sans W05';
  font-weight: 500;
  font-style: normal;
  src: url('/static/fonts/ff8942c8-f8c9-40e7-b904-e72bccfd23f7.woff2') format('woff2');
  src: url('/static/fonts/9924e473-a88f-49bb-a1c5-6cfc4615d7b6.woff') format('woff');
  font-display: swap;
}

@font-face{
  font-family:'Overlook Sans W05';
  font-weight: 500;
  font-style: italic;
  src: url('/static/fonts/96144163-6d3b-4ba4-bed1-49d285093453.woff2') format('woff2');
  src: url('/static/fonts/7329e8fd-e5f8-4c0f-bae1-cee9560d7b02.woff') format('woff');
  font-display: swap;
}

@font-face{
  font-family:'Overlook Sans W05';
  font-weight: 700;
  font-style: normal;
  src: url('/static/fonts/80faf82e-e035-4029-8dbb-9910e02e98b3.woff2') format('woff2');
  src: url('/static/fonts/f9bd21ec-0886-4996-bcea-7d5f0929e8e7.woff') format('woff');
  font-display: swap;
}

@font-face{
  font-family:'Overlook Sans W05';
  font-weight: 700;
  font-style: italic;
  src: url('/static/fonts/836f8934-ccc8-4118-8903-5c02c55ffc22.woff2') format('woff2');
  src: url('/static/fonts/52103f53-970a-413e-8f14-ba92e47873af.woff') format('woff');
  font-display: swap;
}

@font-face{
  font-family:"Overlook Sans W05";
  font-weight: 800;
  font-style: normal;
  src: url('/static/fonts/7006d833-6f29-4e65-815b-48181412fca9.woff2') format('woff2');
  src: url('/static/fonts/761f3b0f-7627-46da-834b-50cd5ecb62e1.woff') format('woff');
  font-display: swap;
}

@font-face{
  font-family:'Overlook Sans W05';
  font-weight: 800;
  font-style: italic;
  src: url('/static/fonts/a59df8ce-c6c9-4b65-8306-7d1e7990b5f2.woff2') format('woff2');
  src: url('/static/fonts/52359047-349f-491a-90fd-6e2c7a2d0897.woff') format('woff');
  font-display: swap;
}

@font-face{
  font-family:'Overlook Sans W05';
  font-weight: 900;
  font-style: italic;
  src: url('/static/fonts/2dc1df2b-9a58-4b2b-a75d-1a6757b2e924.woff2') format('woff2');
  src: url('/static/fonts/56555882-de68-4a77-9bb7-ea82e9a19311.woff') format('woff');
  font-display: swap;
}

* {
  font-family: 'Overlook Sans W05', 'verdana', 'helvetica', 'arial', 'sans-serif', 'serif';
}

/* REGION SPECIFIC */
.ro-ro {
  * {
    font-family: 'Overlook Sans W05', 'helvetica', 'arial', 'sans-serif', 'serif';
  }

  h1, h2, h3, h4, h5 {
    font-family: 'Overlook Sans W05', 'verdana', 'helvetica', 'arial', 'sans-serif', 'serif';
  }
}

$alt-family: 'Overlook Sans W05', 'arial', 'sans-serif', 'serif';

$font-light: 250;
$font-light-alt: 300;
$font-regular: 400;
$font-semi: 600;
$font-bold: 700;
$font-extrabold: 800;
